
.headerbox{
    width: 100%;
    height: 650px;
    background-image: url("./images/bg-hero-desktop.svg");
    background-repeat: no-repeat;
    border-color: hsl(208, 11%, 55%);
    background-position: center;
}
header{
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    display: flex;
    justify-content: space-between;
}
#but1{
    border-radius: 20px;
    width: 130px;
    height: 30px;
    text-align: center;
    background-color:  whitesmoke;
    font-weight: 600;
    border: whitesmoke;
    box-shadow: 0px 5px 5px rgb(216, 216, 216);  
}
#but1:hover{
    color: hsl(208, 11%, 55%);
}
.headsection{
    display: flex;
    justify-content: space-between;
}
#mockups{

    width: 50%;
    height: 500px;
    padding-top: 20px;
    padding-right:40px ;
}
#buildtext{
    padding-top: 70px;
    padding-left: 40px;
    font-size: 18px;
}
.h1{
    font-weight: 600;
    font-family: "poppins";
}
.paragraph{
    font-weight: 400; 
    font-family: "Open Sans";
}
#but2{
    border-radius: 20px;
    width: 250px;
    height: 40px;
    text-align: center;
    font-weight: 400;
    background-color:  hsl(322, 100%, 66%);
    color:  hsl(193, 100%, 96%);
    font-weight: 600;
    border: hsl(322, 100%, 66%);
    box-shadow: 0px 5px 5px rgb(216, 216, 216);  
}
#but2:hover{
    background-color:  hsl(322, 86%, 85%);
}

.box2section{
    display: flex;
    justify-content: space-between;
    width:1100px;
    height: 400px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
    box-shadow: 0px -5px 15px  hsl(210, 4%, 90%);  
}
.text{
    margin-top: 100px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 18px;
    size: 20px;
}

.picture{
    width: 250px;
    height: 250px;
    padding-top: 70px;
    margin-right:80px ;
    margin-left:80px ;
}

.footer{
    background-color:  hsl(192, 100%, 9%);
    height: 500px;
    position: relative;
    margin-top: 200px;
}
#footsection{
    background-color: rgb(255, 255, 255);
    height:160px ;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0px -5px 15px  hsl(210, 4%, 90%); 
    text-align: center;
    position:absolute;
    left: 300px;
    bottom: 445px;  
}
#but3{
    border-radius: 50px;
    width: 300px;
    height: 50px;
    text-align: center;
    font-weight: 400;
    background-color:  hsl(322, 100%, 66%);
    color:  hsl(193, 100%, 96%);
    font-weight: 600;
    border: hsl(322, 100%, 66%);
      
}
#but3:hover{
    background-color:  hsl(322, 86%, 85%);
}

img{
    background: rgba(255, 255, 255, 0.911);
}





.attribution {
     font-size: 11px; text-align: center;
     color:  hsl(193, 100%, 96%);
}
.attribution a {
     color: hsl(228, 45%, 44%);
}

